    td {
        border: 3px solid grey;
    }

    th {
        border: 3px solid grey;
    }

    a {
        color: #018ad2;
        text-decoration: none;
    }

    a:hover {
        color: #c00;
    }

    button {
        padding: 8px 12px;
    }

    body {
        max-width: 1500px;
        margin: auto;
        font-size: 18px;
    }

    p {
        margin: 16px 0px;
    }

    ul {
        padding: 0px;
        margin-left: 20px;
    }

    iframe {
        border: 1px dashed #ccc;
    }

    .box {
        display: flex;
        padding: 0px 10px 10px 0px;
    }

    .one {
        padding: 10px
    }

    .name {
        display: flex;
        padding: 0px 10px 10px 0px;
    }

    .two {
        padding: 10px
    }