.user-form {
    margin-left: 220px;
}

.user-field {
    border: none;
    padding-left: 0px;
    margin-bottom: 100px;
}

.user-legend {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    margin: 0px 0px 15px;
}

.box-forma {
    display: inline;
    width: 710px;
    height: 372px;
}

.bloc-forma {
    display: flex;
    align-items: flex-start;
    padding: 0px;
    width: 710px;
    height: 100px;
}

.box-foma-users {
    display: block;
    margin-right: 45px;
}

.user-name {
    width: 398px;
    height: 20px;
    border: 1px solid #888888;
    padding: 15px 20px;
}

.error-user-name,
.error-user-score {
    font-weight: 500;
    line-height: 23px;
    color: white;
    background: #DA4A0C;
    font-size: 13px;
    /* visibility: hidden; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 20px;
    width: auto;
    height: 31px;
}

.error-review {
    font-weight: 500;
    line-height: 23px;
    color: white;
    font-size: 13px;
    padding: 8px 20px;
    background: #DA4A0C;
    width: 665px;
    height: 31px;
    /* visibility: hidden; */
    margin: -5px 0px 10px;
}
.blok-review{
    height: 270px;

}
.hidden {
    display: none;
}

.placeholder {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #888888;
    height: 19px;
}

.box-foma-score {
    display: block;


}

.user-score {
    border: 1px solid #888888;
    padding: 15px 21px;
    width: 175px;
    height: 20px;
    margin-left: auto;
}


.user-review {
    width: 663px;
    height: 190px;
    resize: none;
    font-size: 16px;
    padding: 15px 20px;
    font-family: sans-serif;
}

.user-review__btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 28px;
    height: 39px;
    border: 1px solid #F36223;
    border-radius: 4px;
    background-color: #F36223;
    color: #FFFFFF;
}

.input:hover {
    border: #000000;
}

.user-review__btn:hover {
    background-color: #DA4A0C;
}

@media (max-width: 1024px) {
    .user-form {
        padding: 15px;
        margin-left: 0px;
    }

    .user-field {
        width: 594px;
    }

    .user-name {
        width: 310px;
    }

    .error-users-name {
        width: 310px;
    }

    .user-score {
        width: 148px;
    }

    .error-users-score {
        width: 150px;
    }

    .user-review {
        width: 548px;
    }

    .error-review {
        width: 550px;
    }

}

@media (max-width: 360px) {
    .form {
        margin-top: -100px;  
    }
    .bloc-forma {
        display: flex;
        flex-direction: column;
        height: 110px;
    }

    .user-legend {
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
    }

    .user-name {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 10px 15px;
        width: 305px;
        height: 37px;
    }

    .user-score {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 10px 15px;
        width: 305px;
        height: 37px;
    }

    .user-review {
        margin-top: 100px;
        width: 295px;
        height: 190px;
    }
    .error-review {
        width: 295px;
    }

    .box-foma-score {
        display: block;
        position: absolute;
        margin: 106px 0;
        width: 335px
    }

    .user-review__btn {
        position: absolute;
        top: 3490px;

    }
    .user-form {
    height: 570px;
    width: 335px
    }
}