.down {
    display: flex;
    padding-left: 50px;
    height: 111px;
    background-color: #F2F2F2;
}

.down__info {
    align-items: center;
    flex-grow: 2;
    font-size: 14px;
    line-height: 17px;
    padding: 30px 0px;
}

.down__back {
    display: flex;
    align-items: center;
    margin-right: 50px;
}

@media (max-width: 1499px) {
    .down__back {
        margin-right: 15px;
    }
}

@media (max-width: 1024px) {
    .down {
        padding-left: 15px;
    }

}

@media (max-width: 360px) {
    .down {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .down__info {
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        padding: 0px 11px 0 0;
    }
}