.comment {
    display: flex;
    flex-direction: column;
    margin: 50px 50px 60px;
    gap: 25px;
    width: 60%;
}

.comment__blok {
    display: flex;
    gap: 10px;
    width: 880px;
    font-weight: 700;
    align-items: center;
}

.comment__blok__text {
    font-size: 24px;
}

.comment__blok__number {
    font-size: 24px;
    color: #888888;
}

.box {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 880px;
    height: 240px;
    margin: 25px 25px;
}

.box-one {
    display: flex;
    gap: 30px;
}

.feedback__user {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
}

.feedback__stars {
    display: flex;
    margin: 10px 0px;
}

.box-one__img-comit {
    width: 140px;
    height: 140px;
    border-radius: 100px;
}

.feedback__practice {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin-top: 20px;
}

.separator {
    border: 1px dashed #888888;
    margin-left: 170px;
    width: 750px;
    height: 1px;
}
.separator:nth-last-child(1)  {
    display: none;
}

@media (max-width: 1024px) {
    .comment {
        margin: 15px;
    }

    .box-one__img-comit {
        height: 100px;
        width: 100px;
    }

    .feedback {
        width: 464px;
    }

    .feedback__stars {
        height: 20px;
    }
}

@media (max-width: 360px) {

    .comment__blok__text,
    .comment__blok__number {
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
    }
.box {
    height: 300px;
}
    .box-one__img-comit {
        width: 60px;
        height: 60px;
    }

    .box-one {
        gap: 0;
        height: 310px;
    }

    .feedback__practice {
        margin-left: -70px;
        margin-top: 0px;
        flex-wrap: wrap;
        width: 335px;
        height: 310px;

    }
}