.errorFound {
    background: url("./191.jpg");
    display: flex;
    flex-direction: column;
    background-size: cover;
    height: 950px;
    width: 100%;
    color: #ed0808
}

.textError {
    font-family: 'Inter';
    font-weight: 700;
    font-size: 50px;
    line-height: 300px;
    text-align: right;
    margin-right: 50px;
}
@media (max-width: 360px) {
    .textError {
        font-weight: 700;
        font-size: 30px;
        line-height: 300px;
        text-align: center;
    }

}