.logo-back {
    width: 100%;
    position: fixed;
    z-index: 2;
    top: 0;
    margin: 0;
    background: white;
}

.logo-margin {
    padding: 0;
    margin: 0 50px;
}

.logo {
    font-family: 'Inter';
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    margin: 0 auto;
    width: 1400px;
    max-height: 60px;
    box-sizing: border-box;
}

.shop {
    font-family: 'Inter';
    font-weight: 700;
    font-size: 44px;
    line-height: 53px;
    color: black;
}

.logo__name {
    display: flex;
}

.logo__iconka {
    padding-right: 7px;
    padding-top: 14px;
}

.logo__text {
    font-weight: 700;
    font-size: 44px;
    line-height: 53px;
    padding: 0;
    margin-top: 15px;
    margin-bottom: 12px;
}

.logo__text_color {
    color: #FF5722;
}

.cart__choice {
    display: flex;
    height: 100%;
    max-width: 100px;
    position: relative;
}

.favourites {
    width: 32px;
    height: 36px;
    position: relative;
    right: 15px;
}

.logo__basket {
    width: 43px;
    height: 34px;
    position: relative;
    right: 0px;
}

.logo__choice {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 20px;
    height: 20px;
    border: 1px solid #F36223;
    border-radius: 50%;
    color: white;
    background: #F36223;
    box-sizing: border-box;
    right: 0px;
    top: -5px;
}

.favourites__choice {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 20px;
    height: 20px;
    border: 1px solid #F36223;
    border-radius: 50%;
    color: white;
    background: #F36223;
    box-sizing: border-box;
    right: 50px;
    top: -5px;
}

.hidden {
    display: none;
}

@media (max-width: 1024px) {

    .logo-margin {
        margin: 0 15px;
    }

    .logo {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0;
        margin: 0 auto;
        max-height: 60px;
        box-sizing: border-box;
        width: 100%;
    }

}

@media (min-width: 1025px) {

    .logo {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0;
        margin: 0 auto;
        width: 100%;
        max-height: 60px;
        box-sizing: border-box;
    }
}

@media (max-width: 360px) {

    .logo-margin {
        padding: 0;
        margin: 0 auto;
    }

    .logo {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0;
        margin: 0 10px;
        width: 340px;
        max-height: 45px;
        box-sizing: border-box;
    }

    .logo__iconka {
        padding-right: 7px;
        padding-top: 10px;
    }

    .shop {
        font-weight: 700;
        font-size: 32px;
        line-height: 39px;
    }

    .img {
        width: 23.76px;
        height: 30px;
    }

    .logo__text {
        font-weight: 700;
        font-size: 32px;
        line-height: 39px;
        padding: 0;
        margin-top: 8px;
        margin-bottom: 8px;
    }

    .favourites {
        width: 26px;
        height: 20.8px;
        position: relative;
        right: 14.86px;
    }

    .logo__basket {
        width: 24.7px;
        height: 23.5px;
        position: relative;
        right: 0px;
    }

    .logo__choice {
        width: 10px;
        height: 10px;
        font-size: 8px;
        top: -4px;
        right: -2px;
    }

    .favourites__choice {
        width: 10px;
        height: 10px;
        font-size: 8px;
        left: 3px;
        top: -4px;
    }
}