.sidebar {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 30%;
    height: 957px;
}

.sale {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
    height: 275px;
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

.sale__tender {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sale__tender__cent {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 24px;
}

.sale__tender__favourites {
    width: 26px;
    height: 20px;
    margin-left: auto;
    background: url("./ser.svg");
    
}

.favourites__coise {
    background: url("./heartall.svg");
}

.sale__tender__favourites:hover {
    background: url("./ser3.svg");
}

.sale__tender__favourites:active {
    background: url("./ser2.svg");
}

/* .color {
    background: url("./heartall.svg");
} */


.sale__tender__cent__old {
    height: 16px;
    font-size: 16px;
    line-height: 16px;
    text-decoration-line: line-through;
    color: #888888;
}

.sale__tender__cent__discount {
    padding: 4px 12px;
    background: #F36223;
    border-radius: 500px;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
}

.sale__tender__new {
    height: 39px;
    font-size: 32px;
    line-height: 39px;
    color: #000000;
}

.sale__delivery {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 68px;
}

.sale__delivery__pickup {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}

.sale__delivery__courier {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}

.sale__basket {
    display: flex;
    align-items: center;
    padding: 20px 30px;
    height: 64px;
    width: 100%;
    background: #F36223;
    border-radius: 4px;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    gap: 15px;
    background-image: url("./kor.svg");
    background-repeat: no-repeat;
    background-position: 15px;
    justify-content: center;
    content: Добавить в корзину;
}

/* .sale__basket::before {
    width: 100%;
    background-image: url("./kor.svg");
    background-repeat: no-repeat;
    background-position: left;
    background: rgb(136, 136, 136);
    justify-content: center;
} */
.colors {
    background: rgb(136, 136, 136);
    background-image: url("./kor.svg");
    background-repeat: no-repeat;
    background-position: 15px;
    justify-content: center;
    content: "Товар в корзине";
}


.sale__basket_selected:hover {
    background-color: #DA4A0C;
    cursor: pointer;
}

.sale__basket:active {
    background-color: #A93A09;
}

/**Реклама**/

.marketing {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    line-height: 17px;
    gap: 10px;
}

.marketing__news {
    box-sizing: border-box;
    padding: 10px;
    height: 300px;
    background: #F0F0F0;
    border: 1px dashed #888888;
}

.iframe {
    width: 100%;
    height: 100%;
    border: none;
}

@media (max-width: 1499px) {
    .sale__basket {
        width: 100%;
        height: 54px;
        padding: 20px 52px;
        align-items: center;
    }
}

@media (max-width: 1024px) {

    .sidebar {
        width: 360px;
        margin-right: 15px;
    }

    .sale {
        width: 360px;
    }

    .sale__delivery {
        width: 320px;
    }

    .sale__basket {
        width: 320px;
        height: 54px;
        padding: 20px 40px;
    }

    .marketing {
        width: 360px;
    }

    .marketing__news {
        width: 360px;
    }
}

@media (max-width: 360px) {
    .sale {
        display: flex;
        width: 338px;
    }
    .sale__basket {
        width: 300px;
    }
    .sidebar {
        height: 275px;
    }

    .marketing {
        display: none;
    }
}