body {
    max-width: 1500px;
    margin: auto;
    font-size: 18px;
    font-family: sans-serif;
}

/** ЛОГОТИП**/

.logo {
    max-width: 1440px;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin: 0 51px;
    gap: 7px;

}

.logo__iconka {
    width: 36.5px;
}

.logo__name {
    display: flex;
    flex-grow: 2;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 53px;
}

.logo__text {
    color: #FF5722;
}

.logo__basket {
    position: relative;
    top: 4px;
    width: 42px;
    height: 42px;
    background-image: url("./img/Korzina.svg.svg");
}

.logo__choice {
    position: absolute;
    top: 2px;
    right: 0;
    background-color: #EEEEEE;
    border: 1px solid black;
    border-radius: 50%;
    height: 21px;
    padding: 2px 5px 0px;

}


/** Навигация**/

.nav {
    margin-top: 53px;
    margin-left: 51px;
    display: flex;
    padding: 8px 0;
    gap: 4px;
    color: #008CF0;

}


/** Тип Продукта **/

.type-product {
    font-size: 32px;
    line-height: 39px;
    color: #000000;
    margin: 0 51px 20px;
}

.picture-product {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0 51px 30px;
    overflow-x: auto;
}

.picture-product__img {
    display: flex;
    min-width: 100px;
    max-width: 400px;
    min-height: 200px;
    max-height: 387px;
}

/** Контейнер **/

.container {
    display: flex;
    margin: 0 51px;
    gap: 100px;
}

.product {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 63%;
}

/**Выбор Цвета**/

.choise-color {
    width: 530px;
}

.choise-color__text {
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    margin-bottom: 15px;
}

.choise-color__bloc {
    display: flex;
    gap: 10px;
}

.choise-color__box {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    border: 1px solid #888888;
    border-radius: 4px;
}

.choise-color__box:hover {
    background-color: #F2F2F2;
    cursor: pointer;
}

.choise-color__box:active {
    border: 2px solid #A93A09;
}

.choise-color__box_selected {
    border: 2px solid #F36223;
}

.choise-color__box__image {
    width: 30.93px;
    height: 60px;
}

/** Выбор памяти **/

.configuration__memory {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    margin-bottom: 15px;
}

.configuration-button {
    display: flex;
    align-items: center;
    gap: 10px;
}

.configuration-button__text {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    padding: 10px 20px;
    width: 92px;
    height: 39px;
    border-radius: 4px;
    border: 1px solid #888888;
    background-color: #FFFFFF;
}

.configuration-button__text:hover {
    cursor: pointer;
    background-color: #F2F2F2;
}

.configuration-button__text_selected {
    cursor: pointer;
    border: 2px solid #F36223;
}

.configuration-button__text:active {
    border: 2px solid #A93A09;
}

/** Характеристика **/

.characteristic__text {
    font-weight: 700;
    font-size: 16px;
    color: #000000;
}

.characteristic__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0;
    gap: 10px;
    margin-left: 20px;
    list-style-image: url(img/Маркер.svg);
}

.characteristic__product {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}

a {
    color: #018ad2;
    text-decoration: none;
}

a:hover {
    color: #F36223;
}

a:active {
    color: #A93A09;
}

/**Описание**/

.opisanie {
    width: 100%;
}

.opisanie__text {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    margin-bottom: 15px;
}

.opisanie__paragraph__text {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    margin-bottom: 15px;
}

/** Таблица**/

.comparison-text {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 15px;
}

.table {
    border-spacing: 0px;
}

.table__body {
    display: block;
    border: 1px solid #888888;
    font-size: 16px;
    line-height: 19px;

}

.table__head {
    padding: 10px;
    border-block-end: 1px solid #888888;
    border-left: 1px solid #888888;
    border-right: 1px solid #888888;
    min-width: 78px;
    max-width: 150px;

}

.table__cell {
    padding: 10px;
    border-left: 1px solid #888888;
    border-right: 1px solid #888888;
    min-width: 78px;
    max-width: 150px;
}


.table__line:hover {
    background-color: #F2F2F2;
}

/** Сайдбар**/

.sidebar {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 30%;
    height: 957px;
}

.sale {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 15px;
    height: 275px;
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

.sale__tender {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sale__tender__cent {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 24px;
}

.sale__tender__favourites {
    width: 26px;
    height: 20px;
    margin-left: auto;
    background: url("./img/ser.svg");
}


.sale__tender__favourites:hover {
    background: url("./img/ser3.svg");
}

.sale__tender__favourites:active {
    background: url("./img/ser2.svg");
}



.sale__tender__cent__old {
    height: 16px;
    font-size: 16px;
    line-height: 16px;
    text-decoration-line: line-through;
    color: #888888;
}

.sale__tender__cent__discount {
    padding: 4px 12px;
    background: #F36223;
    border-radius: 500px;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
}

.sale__tender__new {
    height: 39px;
    font-size: 32px;
    line-height: 39px;
    color: #000000;
}

.sale__delivery {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 68px;
}

.sale__delivery__pickup {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}

.sale__delivery__courier {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}

.sale__basket {
    display: flex;
    align-items: center;
    padding: 20px 70px;
    height: 64px;
    background: #F36223;
    border-radius: 4px;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    gap: 15px;
}

.sale__basket::before {
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    background-image: url("./img/kor.svg");
    background-repeat: no-repeat;
    background-position: center center;

}

.sale__basket_selected:hover {
    background-color: #DA4A0C;
    cursor: pointer;
}

.sale__basket:active {
    background-color: #A93A09;
}

/**Реклама**/

.marketing {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    line-height: 17px;
    gap: 10px;
}

.marketing__news {
    box-sizing: border-box;
    padding: 10px;
    height: 300px;
    background: #F0F0F0;
    border: 1px dashed #888888;
}

.marketing__news__info {
    width: 100%;
    height: 100%;
    border: none;
}

/**Otzyv**/

.comment {
    display: flex;
    flex-direction: column;
    margin: 50px 50px 60px;
    gap: 25px;
    width: 60%;
}

.comment__blok {
    display: flex;
    gap: 10px;
    width: 880px;
    font-weight: 700;
    align-items: center;
}

.comment__blok__text {
    font-size: 24px;
}

.comment__blok__number {
    font-size: 24px;
    color: #888888;
}

.box {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.box-one {
    display: flex;
    gap: 30px;
}

.feedback__user {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
}

.feedback__stars {
    display: flex;
    margin: 10px 0px;
}

.box-one__img-comit {
    width: 140px;
    height: 140px;
    border-radius: 100px;
}

.feedback__practice {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin-top: 20px;
}

.separator {
    border: 1px dashed #888888;
    margin-left: 170px;
}

/** Форма **/

.user-form {
    margin-left: 220px;
}

.user-field {
    border: none;
    padding-left: 0px;
    margin-bottom: 100px;
}

.user-legend {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    margin: 0px 0px 15px;
}

.user-name {
    width: 453px;
    border: 1px solid #888888;
    padding: 15px 20px;
    margin: 0px 0px 30px;
}

.placeholder {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #888888;
    height: 19px;
}

.user-score {
    border: 1px solid #888888;
    padding: 15px 20px;
    width: 133px;
    margin-left: 40px;
}

.user-review {
    width: 673px;
    height: 190px;
    margin: 0px 0px 30px;
    resize: none;
    font-size: 16px;
    padding: 15px 20px;
    font-family: sans-serif;
}

.user-review__btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 28px;
    height: 39px;
    border: 1px solid #F36223;
    border-radius: 4px;
    background-color: #F36223;
    color: #FFFFFF;
}

.input:hover {
    border: #000000;
}

.user-review__btn:hover {
    background-color: #DA4A0C;
}


/** Подвал **/

.down {
    display: flex;
    padding-left: 50px;
    height: 111px;
    background-color: #F2F2F2;
}

.down__info {
    align-items: center;
    flex-grow: 2;
    font-size: 14px;
    line-height: 17px;
    padding: 30px 0px;
}

.down__back {
    display: flex;
    align-items: center;
    margin-right: 50px;
}

/**Медиа запрос**/
@media (max-width: 1499px) {
    .comparison {
        display: none;
    }

    .sale__basket {
        width: 100%;
        height: 54px;
        padding: 20px 52px;
        align-items: center;
    }

    .down__back {
        margin-right: 15px;
    }

}

@media (max-width: 1024px) {
    .logo {
        margin: 0 15px;
    }

    .nav {
        margin-left: 15px;
    }

    .type-product {
        margin: 0 15px 20px;
    }

    .picture-product {
        margin: 0 15px 30px;
    }

    .container {
        margin: 0 15px;
    }

    .picture-product__img {
        /* height: 272px;
        min-width: 123px;
        max-width: 247px; */
        height: auto;
        width: auto;
    }

    .container {
        gap: 40px;
        width: 993px;
    }

    .sidebar {
        width: 360px;
        margin-right: 15px;
    }

    .sale {
        width: 360px;
    }

    .sale__delivery {
        width: 320px;
    }

    .sale__basket {
        width: 320px;
        height: 54px;
        padding: 20px 62px;
    }

    .marketing {
        width: 360px;
    }

    .marketing__news {
        width: 360px;
    }

    .comment {
        margin: 15px;
    }

    .box-one__img-comit {
        height: 100px;
        width: 100px;
    }

    .feedback {
        width: 464px;
    }

    .feedback__stars {
        height: 20px;
    }

    .separator {
        margin-left: 130px;
        width: 460px;
    }

    .user-form {
        padding: 15px;
        margin-left: 0px;
    }

    .user-field {
        width: 594px;
    }

    .user-name {
        width: 310px;
    }

    .user-score {
        width: 150px;
    }

    .user-review {
        width: 552px;
    }

    .down {
        padding-left: 15px;
    }
}