    .header {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 0px 51px;
        gap: 7px;
    }

    .iconka {
        width: 36.5px;
        height: 43px;
        left: 51px;
        top: 18.5px;
    }

    header .img {
        height: 42px;
    }

    .logo-name {
        font-family: sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 44px;
        line-height: 53px;
    }

    .nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 8px 51px;
        gap: 4px;
        color: #008CF0;
    }

    .h2 {
        font-family: sans-serif;
        font-style: normal;
        font-size: 32px;
        line-height: 39px;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
        color: #000000;
        padding: 0px 0px 20px 51px;
    }

    .image {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px 51px;
        gap: 10px;
        margin: 0px 0px 30px 0px;
    }

    .image1 {
        width: 304.33px;
        height: 387px;
        background: url(image-1.webp);
    }

    .image2 {
        width: 192.73px;
        height: 387px;
        background: url(image-2.webp);
    }

    .image3 {
        width: 199.06px;
        height: 387px;
        background: url(image-3.webp);
    }

    .image4 {
        width: 361.5px;
        height: 387px;
        background: url(image-4.webp);
    }

    .image5 {
        width: 299.22px;
        height: 387px;
        background: url(image-5.webp);
    }

    .sidebar0 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 40px;
        width: 420px;
        height: 957px;
    }

    .sidebar {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 20px;
        gap: 15px;
        width: 420px;
        height: 275px;
        background: #FFFFFF;
        border: 1px solid #EEEEEE;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
        border-radius: 20px;
    }

    .skidka {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 10px;
        width: 132px;
        height: 73px;

    }

    .discount {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 4px 12px;
        gap: 10px;
        background: #F36223;
        border-radius: 500px;
        font-weight: 500;
        font-size: 16px;
        line-height: 16px;
        color: #FFFFFF;
    }

    .cent2 {
        width: 132px;
        height: 39px;
        font-family: sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 32px;
        line-height: 39px;
        color: #000000;
    }

    .cent1 {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px;
        gap: 10px;
        width: 123px;
        height: 24px;
    }

    .cent {
        width: 66px;
        height: 16px;
        font-family: sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 16px;
        text-decoration-line: line-through;
        color: #888888;
    }

    .delivery {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px 0px 20px;
        gap: 10px;
        width: 380px;
        height: 68px;
    }

    .samovyvoz {
        width: 380px;
        height: 19px;
        font-family: sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #000000;

    }

    .kurer {
        font-family: sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #000000;
    }

    .korzina {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 20px 92px;
        gap: 10px;
        width: 380px;
        height: 64px;
        background: #F36223;
        border-radius: 4px;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        color: #FFFFFF;
    }

    .btn_selected1:hover {
        background-color: #DA4A0C;
        cursor: pointer;
    }

    .reklama {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 10px;
        width: 420px;
        height: 642px;
        font-family: sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
    }

    .reklama1 {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px;
        gap: 10px;
        width: 420px;
        height: 300px;
        background: #F0F0F0;
        border: 1px dashed #888888;

    }

    .ifra {
        width: 100%;
        height: 100%;
        border: none;
    }

    .all {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 0px 50px;
        gap: 100px;
        width: 1400px;
        height: 957px;
    }

    .color {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 30px;
        width: 880px;
        height: 896px;

    }

    .color1 {
        width: 530px;
        height: 114px;
    }

    .color2 {
        font-family: sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        color: #000000;
        padding: 0px 0px 15px;
    }

    .color-bloc {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 0px;
        gap: 10px;
    }

    .color-bloc1 {
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0px;
        gap: 10px;
        width: 80px;
        height: 80px;
        border: 1px solid #888888;
        border-radius: 4px;
    }

    .color-bloc1:hover {
        background-color: #F2F2F2;
        cursor: pointer;
    }

    .btn_selected {
        border: 2px solid #F36223;
    }

    .color-bloc1-1 {
        width: 30.93px;
        height: 60px;
        background: url(color-1);
    }

    .color-bloc2-2 {
        width: 44.45px;
        height: 60px;
        background: url(color-2);
    }

    .color-bloc3-3 {
        width: 30.93px;
        height: 60px;
        background: url(color-3);
    }

    .color-bloc4-4 {
        width: 30.93px;
        height: 60px;
        background: url(color-4);
    }

    .color-bloc5-5 {
        width: 30.93px;
        height: 60px;
        background: url(color-5);
    }

    .color-bloc6-6 {
        width: 30.93px;
        height: 60px;
        background: url(color-6);
    }


    .config {
        width: 298px;
        height: 73px;
    }

    .config1 {
        font-family: sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        color: #000000;
        padding: 0px 0px 15px;
    }

    .knopka {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px;
        gap: 10px;
    }

    button {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        padding: 10px 20px;
        gap: 10px;
        width: 92px;
        height: 39px;
        border: 1px solid #888888;
        border-radius: 4px;
        background: #FFFFFF;
    }

    button:hover {
        background-color: #F2F2F2;
        cursor: pointer;
    }

    button.text {
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: #000000;
    }

    .characteristic {
        width: 417px;
        height: 198px;
    }

    .text1 {
        font-family: sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        color: #000000;
    }

    ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 0px;
        gap: 10px;
        margin-left: 20px;
        list-style-image: url(img/Маркер.svg);
    }

    li {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: #000000;
    }

    a {
        color: #018ad2;
        text-decoration: none;
    }

    a:hover {
        color: #F36223;
    }


    body {
        max-width: 1500px;
        margin: auto;
        font-size: 18px;
        font-family: sans-serif;
    }

    .opisanie {
        width: 880px;
        height: 421px;
    }


    p.paragraf {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 15px;

    }

    p.text2 {
        font-family: sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: #000000;
    }

    /**Otzyv**/
    .otzyv-all {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 51px;
        gap: 25px;
        width: 880px;
height: 584px;
    }

    .otzyv-blok {
        display: flex;
        flex-direction: row;
        padding: 5px;
        gap: 10px;
        width: 880px;
        height: 39px;
        font-weight: 700;
        align-items: center;
    }

    .otzyv-text {
        display: flex;
        font-family: sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
        color: #000000;
    }

    .cifra {
        font-family: sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
        color: #888888;

    }

    .btn-otzyv {
        display: flex;
        box-sizing: border-box;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 0px 28px;
        gap: 10px;
        width: 168px;
        height: 39px;
        border: 1px solid #888888;
        border-radius: 4px;
        margin-left: auto;
    }

    .box {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 40px;
        width: 880px;
        height: 520px;
    }

    .box1 {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 0px;
        gap: 30px;
        width: 880px;
        height: 250px;
    }

    .one {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        width: 710px;
        height: 250px;
    }

    .user {
        font-family: sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        color: #000000;
        gap: 10px;
    }

    .stars {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 10px 0px;
    }

    .box .img-otzyv {
        width: 140px;
        height: 140px;
        border-radius: 100px;
    }

    .opyt {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        font-family: sans-serif;
        padding: 0px;
        gap: 10px;
        width: 710px;
        height: 156px;
        font-size: 14px;
        line-height: 17px;
        color: #000000;
        margin-top: 20px;
    }
    .separator {
        border: 1px solid #888888;
        width: 880px;
    }