.type-product {
    font-size: 32px;
    line-height: 39px;
    color: #000000;
    margin: 0 51px 20px;
}

.picture-product {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0 51px 30px;
}

.picture-product__img1 {
    width: 304.33px;
    height: 387px;
}

.picture-product__img2 {
    width: 192.73px;
    height: 387px;
}

.picture-product__img3 {
    width: 199.06px;
    height: 387px;
}

.picture-product__img4 {
    max-width: 361.5px;
    max-height: 387px;
}

.picture-product__img5 {
    width: 299.22px;
    height: 387px;
}

@media (max-width: 1024px) {
    .type-product {
        margin: 0 15px 20px;
    }

    .picture-product {
        margin: 0 15px 30px;
        overflow: auto;
    }
}
@media (max-width: 360px) {
    .type-product{
font-weight: 700;
font-size: 24px;
line-height: 29px;
    }
}