body {
    max-width: 1500px;
    margin: auto;
    font-size: 18px;
    font-family: sans-serif;
}

/** ЛОГОТИП**/

.logo {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px 51px;
    gap: 7px;
}

.logo__iconka {
    width: 36.5px;
}

.logo__name {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 53px;
}

.logo__text {
    color: #FF5722;
}

/** Навигация**/

.nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 51px;
    gap: 4px;
    color: #008CF0;
}

/** Тип Продукта **/

.type-product {
    font-size: 32px;
    line-height: 39px;
    color: #000000;
    padding: 0 0 20px 51px;
}

.picture-product {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 51px;
    gap: 10px;
    margin: 0 0 30px 0;
    width: 1396.83px;
}

.picture-product__img1 {
    display: flex;
    width: 304px;
    height: 387px;
}

.picture-product__img2 {
    display: flex;
    width: 192px;
    height: 387px;
}

.picture-product__img3 {
    display: flex;
    width: 199px;
    height: 387px;
}

.picture-product__img4 {
    display: flex;
    width: 361px;
    height: 387px;
}

.picture-product__img5 {
    display: flex;
    width: 299px;
    height: 387px;
}

/** Контейнер **/

.container {
    display: flex;
    padding: 0px 50px;
    gap: 100px;
    width: 1400px;
}

.product {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 880px;
}

/**Выбор Цвета**/

.choise-color {
    width: 530px;
}

.choise-color__text {
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    padding: 0px 0px 15px;
}

.choise-color__bloc {
    display: flex;
    gap: 10px;
}

.choise-color__box {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    border: 1px solid #888888;
    border-radius: 4px;
}

.choise-color__box:hover {
    background-color: #F2F2F2;
    cursor: pointer;
}

.choise-color__box_selected {
    border: 2px solid #F36223;
}

.choise-color__box__image {
    width: 30.93px;
    height: 60px;
}

/** Выбор памяти **/

.configuration__memory {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    padding: 0px 0px 15px;
}

.configuration-button {
    display: flex;
    align-items: center;
    gap: 10px;
}

.configuration-button__text {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    padding: 10px 20px;
    width: 92px;
    height: 39px;
    border-radius: 4px;
    border: 1px solid #888888;
    background-color: #FFFFFF;
}

.configuration-button__text:hover {
    cursor: pointer;
    background-color: #F2F2F2;
}

.configuration-button__text_selected {
    cursor: pointer;
    border: 2px solid #F36223;
}

/** Характеристика **/

.characteristic__text {
    font-weight: 700;
    font-size: 16px;
    color: #000000;
}

.characteristic__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0;
    gap: 10px;
    margin-left: 20px;
    list-style-image: url(img/Маркер.svg);
}

.characteristic__product {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}

a {
    color: #018ad2;
    text-decoration: none;
}

a:hover {
    color: #F36223;
}

/**Описание**/

.opisanie {
    width: 880px;
}

.opisanie__text {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    padding: 0px 0px 15px;
}

.opisanie__paragraph__text {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    padding: 0px 0px 15px;
}

/** Таблица**/

.comparison-text {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    padding-block-end: 15px;
}

.table {
    border-spacing: 0px;
}

.table__body {
    display: block;
    border: 1px solid #888888;
    font-size: 16px;
    line-height: 19px;

}

.table__head {
    padding: 10px;
    border-block-end: 1px solid #888888;
    border-left: 1px solid #888888;
    border-right: 1px solid #888888;
    min-width: 78px;
    max-width: 150px;

}

.table__cell {
    padding: 10px;
    border-left: 1px solid #888888;
    border-right: 1px solid #888888;
    min-width: 78px;
    max-width: 150px;
}


.table__line:hover {
    background-color: #F2F2F2;
}

/** Сайдбар**/

.sidebar {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 420px;
    height: 957px;
}

.sale {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 15px;
    width: 420px;
    height: 275px;
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

.sale__tender {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sale__tender__cent {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 123px;
    height: 24px;
}

.sale__tender__cent__old {
    width: 66px;
    height: 16px;
    font-size: 16px;
    line-height: 16px;
    text-decoration-line: line-through;
    color: #888888;
}

.sale__tender__cent__discount {
    padding: 4px 12px;
    background: #F36223;
    border-radius: 500px;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
}

.sale__tender__new {
    width: 132px;
    height: 39px;
    font-size: 32px;
    line-height: 39px;
    color: #000000;
}

.sale__delivery {
    display: flex;
    flex-direction: column;
    padding: 0px 0px 20px;
    gap: 10px;
    width: 380px;
    height: 68px;
}

.sale__delivery__pickup {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}

.sale__delivery__courier {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}

.sale__basket {
    display: flex;
    align-items: center;
    padding: 20px 92px;
    width: 380px;
    height: 64px;
    background: #F36223;
    border-radius: 4px;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
}

.sale__basket_selected:hover {
    background-color: #DA4A0C;
    cursor: pointer;
}

/**Реклама**/

.marketing {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    line-height: 17px;
    gap: 10px;
}

.marketing__news {
    box-sizing: border-box;
    padding: 10px;
    width: 420px;
    height: 300px;
    background: #F0F0F0;
    border: 1px dashed #888888;
}

.marketing__news__info {
    width: 100%;
    height: 100%;
    border: none;
}

/**Otzyv**/

.comment {
    display: flex;
    flex-direction: column;
    padding: 51px;
    gap: 25px;
    width: 880px;
}

.comment__blok {
    display: flex;
    padding: 5px;
    gap: 10px;
    width: 880px;
    font-weight: 700;
    align-items: center;
}

.comment__blok__text {
    font-size: 24px;
}

.comment__blok__number {
    font-size: 24px;
    color: #888888;
}

.comment__blok__btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 28px;
    height: 39px;
    border: 1px solid #888888;
    border-radius: 4px;
    margin-left: auto;
}

.box {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.box-one {
    display: flex;
    gap: 30px;
}

.feedback__user {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
}

.feedback__stars {
    display: flex;
    padding: 10px 0px;
}

.box-one__img-comit {
    width: 140px;
    height: 140px;
    border-radius: 100px;
}

.feedback__practice {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin-top: 20px;
}

.separator {
    border: 1px solid #888888;
    width: 880px;
}

/**Подвал**/

.down {
    display: flex;
    padding-left: 50px;
    width: 1400px;
    height: 111px;
}

.down__info {
    align-items: center;
    font-size: 14px;
    line-height: 17px;
    padding: 30px 0px;
}

.down__back {
    display: flex;
    margin-left: auto;
    align-items: center;
}