.pageIndex {
    position: relative;
    width: 1500px;
    height: 1000px;
    background: #F8FAFE;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 20px;
    height: 1000px;
    left: 0px;
    top: 119px;
}

.nav {
    align-items: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
}

.footer {
    align-items: center;
}

@media (max-width: 360px) {
    .text {
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
    }

}