.container {
    display: flex;
    margin: 0 51px;
    gap: 100px;
}

.product {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 63%;
}

/**Выбор Цвета**/

.choise-color {
    width: 530px;
}

.choise-color__text {
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    margin-bottom: 15px;
}

/** Выбор памяти **/

.configuration__memory {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    margin-bottom: 15px;
}


/** Характеристика **/

.characteristic__text {
    font-weight: 700;
    font-size: 16px;
    color: #000000;
}

.characteristic__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0;
    gap: 10px;
    margin-left: 20px;
    list-style-image: url("./Маркер.svg");
}

.characteristic__product {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}

a {
    color: #018ad2;
    text-decoration: none;
}

a:hover {
    color: #F36223;
}

a:active {
    color: #A93A09;
}

/**Описание**/

.opisanie {
    width: 100%;
}

.opisanie__text {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    margin-bottom: 15px;
}

.opisanie__paragraph__text {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    margin-bottom: 15px;
}

/* таблица  */


.comparison-text {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 15px;
}

.table {
    border-spacing: 0px;
}

.table__body {
    display: block;
    border: 1px solid #888888;
    font-size: 16px;
    line-height: 19px;

}

.table__head {
    padding: 10px;
    border-block-end: 1px solid #888888;
    border-left: 1px solid #888888;
    border-right: 1px solid #888888;
    min-width: 78px;
    max-width: 150px;

}

.table__cell {
    padding: 10px;
    border-left: 1px solid #888888;
    border-right: 1px solid #888888;
    min-width: 78px;
    max-width: 150px;
}


.table__line:hover {
    background-color: #F2F2F2;
}

@media (max-width: 1499px) {
    .comparison {
        display: none;
    }

}

@media (max-width: 1024px) {
    .container {
        margin: 0 15px;
        gap: 40px;
        width: 993px;
    }
}

@media (max-width: 360px) {
    .container {
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        flex-wrap: wrap;
        display: flex;
        width: 510px;
        flex-direction: column-reverse;
    }

}