.choise-color__bloc {
    display: flex;
    gap: 10px;
}

.choise-color__box {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    border: 1px solid #888888;
    border-radius: 4px;
}

.choise-color__box:hover {
    background-color: #F2F2F2;
    cursor: pointer;
}

.choise-color__box:active {
    border: 2px solid #A93A09;
}

.choise-color__box_selected {
    border: 2px solid #F36223;
}

.choise-color__box__image {
    width: 30.93px;
    height: 60px;
}

.color-iphone {
    display: none;
}

@media (max-width: 360px) {
    .choise-color__bloc {
        display: flex;
        padding: 0px;
        gap: 15px;
        width: 332px;
        height: 160px;
        flex-wrap: wrap;
}
}