
.configuration-button {
    display: flex;
    align-items: center;
    gap: 10px;
}

.configuration-button__text {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    box-sizing: border-box;
    padding: 10px 20px;
    width: 92px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid #888888;
    background-color: #FFFFFF;
}



.configuration-button__text:hover {
    cursor: pointer;
    background-color: #F2F2F2;
}

.configuration-button__text_selected {
    cursor: pointer;
    border: 2px solid #F36223;
}

.configuration-button__text:active {
    border: 2px solid #A93A09;
}

.memory-btn {
    display: none;

}